/* Featured-Clubs Main Page */
  
.featured-page-body {
  margin: 0px;
  padding-top: 30px;
  background-color: #303841;

  /* This part makes the background color extend to the bottom of the page */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.featured-clubs-container {
  margin-left: 20%;
  margin-right: 20%;
  background-color:#303841;
  color:white;
}

.featured-club-outer-div {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;

  display: flex;
    
  
}

.featured-club-arrow-side-column {
  flex: 8%;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.featured-club-arrow-side-column:hover {
 
  background-color: rgb(180, 180, 180)
}

.featured-club-arrow-side-column.left {
  margin-right: 2%;
}

.featured-club-arrow-side-column.right {
  margin-left: 2%;
}

.featured-club-arrow {
  margin: 0 auto;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  display: inline-block;
}

.featured-club-arrow.left {
  transform: rotate(135deg);
}

.featured-club-arrow.right {
  transform: rotate(-45deg);
  justify-content: center;
}

.featured-club-content-container {
  flex: 80%;
  color:black;
}

.slide-out-left {
  animation-name: slideOutLeft;
  animation-duration: 0.25s;
}

.slide-out-right {
  animation-name: slideOutRight;
  animation-duration: 0.25s;
}

.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 0.25s;
}

.slide-in-right {
  animation-name: slideInRight;
  animation-duration: 0.25s;
}

@keyframes slideOutLeft {
  0% {margin-left: 0px; margin-right: 0px; opacity: 1;}
  100% {margin-left: -50px; margin-right: 50px; opacity: 0;}
}

@keyframes slideOutRight {
  0% {margin-left: 0px; margin-right: 0px; opacity: 1;}
  100% {margin-left: 50px; margin-right: -50px; opacity: 0;}
}

@keyframes slideInLeft {
  0% {margin-left: -50px; margin-right: 50px; opacity: 0;}
  100% {margin-left: 0px; margin-right: 0px; opacity: 1;}
}

@keyframes slideInRight {
  0% {margin-left: 50px; margin-right: -50px; opacity: 0;}
  100% {margin-left: 0px; margin-right: 0px; opacity: 1;}
}

.featured-club-inner-img-div {
  margin: 0 auto;
  margin-top: 10px;
  height: 300px;
  background-color: #303841;
  color: white;
}

.featured-club-inner-description-div {
  margin: 0 auto;
  margin-top: 30px;
  
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 800px) {
  .featured-clubs-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
