.App {
  /* text-align: center; */
  background-color: #343642;
}

/* Resets values to prevent render problems */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* Header */

.topnav {
  width: 100%;
  padding: 20px;
  
  background-color: rgb(136,12,12);

  display: block;
  box-sizing: border-box;
}

.link_icon {
  width: 100px;
  height: 100px;
}

.topnav .button:hover {
  background-color: rgb(249, 206, 208);
  color: black;
}
