.App {
  /* text-align: center; */
}

/* Resets values to prevent render problems */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* Header */

.topnav {
  width: 100%;
  padding: 20px;
  
  background-color: rgb(136,12,12);

  display: block;
  box-sizing: border-box;
}

.link_icon {
  width: 100px;
  height: 100px;
}

.button {
  margin-top: 65px;
  margin-left: 15px;
  padding: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5px;
  
  background-color: rgb(196,41,50);
  color: white;
  font-size: 20px;
  text-decoration: none;

  float: right;
}

.topnav .button:hover {
  background-color: rgb(249, 206, 208);
  color: black;
}

/* Featured-Clubs Main Page */

.featured-page-body {
  margin: 0px;
  padding-top: 30px;

  /* This part makes the background color extend to the bottom of the page */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: #fcddbb;
}

.featured-clubs-container {
  margin-left: 20%;
  margin-right: 20%;
}

.featured-club-outer-div {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 30px;
  background-color: white;
  border-radius: 30px;

  display: flex;
}

.featured-club-arrow-side-column {
  flex: 8%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-club-arrow-side-column:hover {
  background-color: rgb(240, 240, 240);
}

.featured-club-arrow-side-column.left {
  margin-right: 2%;
}

.featured-club-arrow-side-column.right {
  margin-left: 2%;
}

.featured-club-arrow {
  margin: 0 auto;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  display: inline-block;
}

.featured-club-arrow.left {
  transform: rotate(135deg);
}

.featured-club-arrow.right {
  transform: rotate(-45deg);
  justify-content: center;
}

.featured-club-content-container {
  flex: 80%;
}

.featured-club-inner-img-div {
  margin: 0 auto;
  margin-top: 10px;
  height: 300px;
  background-color: pink;
}

.featured-club-inner-description-div {
  margin: 0 auto;
  margin-top: 30px;
  
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 800px) {
  .featured-clubs-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
