body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.clubIntroductionDiv {
  width: 80%;
  height: auto;
  background-color: #c7c7c7;
  border-radius: 12px;
  border-style: none;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 10px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.introduction {
  text-align: center;
  font-size: 18px;
}

.clubIntroductionText {
  font-size: 13px;
  padding-left: 40px;
  padding-right: 40px;
}

.clubIntroductionBodyDiv {
  display: block;
  width: 40%;
/*   height: 250px; */
  height: fit-content;
  background-color: #a30000;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 5px;

  border-radius: 9px;
  
}

.clubIntroductionBodyDiv p {
  color: white;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

.clubIntroductionBodyDiv img {
  display: block;
  height: 160px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 0px;
  border: none;
}

.siteLink {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}