/* Resets values to prevent render problems */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  .logOutButton {
    text-decoration: none;
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background: #D72323;
    border-radius: 10px;
    line-height: 40px;
    white-space: nowrap;
    color: #EEEEEE;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: max(100%, fit-content);
    padding: 20px;
    padding-bottom: 1px;
    height: auto;
    background-color: #3A4750;
    margin-right: 0;
    padding-right: 0;
  
    display: block;
    box-sizing: border-box;
  }

  .nav-title {
    font-size: 3rem
  }

  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 40%;
  }
  
  .link_icon {
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    margin-left: 30px;
  }
  
  .button {
    padding: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 15px;

    
    background-color: #3A4750;
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .buttonLi {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
    padding-bottom: 15px;
  }



  .button:hover {
    background-color: #D72323;
    color: white;
  }

  .nav-links {
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    overflow: hidden;
  }



/*Hamburger CSS */
.menuIconContainer {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  top: 1.5rem;
  left: 1.5rem;
  border-radius: 25%;
  z-index: 9;

  display: none;
  visibility: hidden;

  z-index: 6;
}

.menuIcon {
  background: #303841;
  width: 100%;
  height: 100%;
  border-radius: 25%;
  top: 1.5rem;
  left: 1.5rem;
  transition: 0.5s;
  
}

.hamburger {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 12%;
  bottom: 24%;
  background-color: white;
  transition: 0.5s;
}

.hamburger2 {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 12%;
  bottom: 44%;
  background-color: white;
  transition: 0.5s;
}

.hamburger3 {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 12%;
  bottom: 64%;
  background-color: white;
  transition: 0.5s;
}

.menuIcon:hover {
  background-color: #D72323;
}

/* .menuIconContainer:hover .hamburger {
  background-color: rgb(207, 207, 207);
}

.menuIconContainer:hover .hamburger2 {
  background-color: rgb(207, 207, 207);
}

.menuIconContainer:hover .hamburger3 {
  background-color: rgb(207, 207, 207);
} */

.menuIconContainer:hover .menuIcon {
  background-color: #D72323;
}


@media only screen and (max-width: 900px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-links {
    position: fixed;
    flex-direction: column;
    z-index: 5;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    top: -100%;

    padding-top: 10px;

    justify-content: space-evenly;
    background-color: #3A4750; 

    transition: transform 1s;
  }
  .nav-title {
    display: none;
  }
  .nav-header {
    width: 100%;
    justify-content: center;
  }

  .buttonLi {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  .button {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 60px;

    border-color: black;
    border-bottom-width: 3px;
    border-style: solid;
  }

  nav {
    padding-bottom: 20px;
  }

  .menuIconContainer {
    display: inline-block;
    visibility: visible;
  }
}