/* Resets values to prevent render problems */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  nav {
    width: max(100%, fit-content);
    padding: 20px;
    padding-bottom: 1px;
    height: auto;
    background-color: rgb(136,12,12);
  
    display: block;
    box-sizing: border-box;
  }
  
  .link_icon {
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    margin-left: 30px;
  }
  
  .button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    
    background-color: rgb(196,41,50);
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-links {
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
  }

@media only screen and (max-width: 720px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-links {
    flex-wrap: wrap;
  }
}