.reset-password {
    text-align: center;
    background-color: white;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
}
.email-input {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    background-color: white;
}
.reset-text {
    color: white;
    text-align: center;
    margin-top: 50px;
}
.reset-submit {
    margin-top: 80px;
    width: 10%;
    text-align: center;
    background-color: white;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 5px;
    height: 40px;
}
.submit-button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #ffc3c3;
}
.hide-password {
    display: inline-block;
    color: black;
    height: 100%;
    vertical-align: center;
    cursor: pointer;
}